<section id="brands" class="brands bg-primary d-none d-md-block">
  <div class="container">
    <ul class="nav text-pure mb-0">
      <li>
        <h4 class="fs-5 font-weight-light lh-3 mb-0 ml-n3p"><a href="#" class="nav-link text-reset bg-primary p-3p">CHANEL</a></h4>
      </li>
      <li>
        <h4 class="fs-5 font-weight-light lh-3 mb-0"><a href="#" class="nav-link text-reset bg-primary p-3p">Jo Malone</a></h4>
      </li>
      <li>
        <h4 class="fs-5 font-weight-light lh-3 mb-0"><a href="#" class="nav-link text-reset bg-primary p-3p">Curology</a></h4>
      </li>
      <li>
        <h4 class="fs-5 font-weight-light lh-3 mb-0"><a href="#" class="nav-link text-reset bg-primary p-3p">Dior</a></h4>
      </li>
      <li>
        <h4 class="fs-5 font-weight-light lh-3 mb-0"><a href="#" class="nav-link text-reset bg-primary p-3p">Chloe</a></h4>
      </li>
      <li>
        <h4 class="fs-5 font-weight-light lh-3 mb-0"><a href="#" class="nav-link text-reset bg-primary p-3p">ZARA</a></h4>
      </li>
    </ul>
  </div>
</section>