<section id="brands" class="brands bg-primary d-none d-md-block">
  <div class="container">
    <ul class="d-flex text-pure py-3 mb-0">
      <li>
        <h4 class="fs-5 font-weight-light lh-3 mb-0 mr-7">CHANEL</h4>
      </li>
      <li>
        <h4 class="fs-5 font-weight-light lh-3 mb-0 mr-7">Jo Malone</h4>
      </li>
      <li>
        <h4 class="fs-5 font-weight-light lh-3 mb-0 mr-7">Curology</h4>
      </li>
      <li>
        <h4 class="fs-5 font-weight-light lh-3 mb-0 mr-7">Dior</h4>
      </li>
      <li>
        <h4 class="fs-5 font-weight-light lh-3 mb-0 mr-7">Chloe</h4>
      </li>
      <li>
        <h4 class="fs-5 font-weight-light lh-3 mb-0 mr-7">ZARA</h4>
      </li>
    </ul>
  </div>
</section>