.header {
  .nav {
    &-link {
      background: $secondary;
      color: $white !important;
      text-align: center;
      border-bottom: 1px solid $white;
      line-height: 2;
      &:hover {
        background: darken($secondary, 25%);
      }
      @include media-breakpoint-up(md) {
        background: white;
        color: $secondary !important;
        line-height: 1.5;
        &:hover {
          background: white;
          color: darken($secondary, 25%) !important;
        }
      }
    }
  }
}

.cart {
  &-badge {
    padding: 1px 4px;
    vertical-align: top;
    margin-left: -0.75rem;
    margin-top: -0.3rem;
    @at-root .cart:hover & {
      background: darken($primary, 5%);
    }
  }
  &-icon {
    @at-root .cart:hover & {
      color: darken($secondary, 25%) !important;
    }
  }
}
