.jumbotron {
  &-large {
    height: 480px;
    padding-top: 101px;
    @include media-breakpoint-up(md) {
      padding-top: 295px;
      height: 870px;
    }
  }

}

.inline-link {
  display: inline-block;
  padding-left: .25rem;
  padding-right: .25rem;
}
