.jumbotron {
  &-large {
    height: 480px;
    padding-top: 101px;
    // @include media-breakpoint-up(md) {
    //   padding-top: 295px;
    //   height: 870px;
    // }
    @media (min-width: 768px) {
      padding-top: 295px;
      height: 870px;
    }
  }

}

.btn {
  &-large {
    // @include media-breakpoint-up(md) {
    //   max-width: 350px;
    // }
    @media (min-width: 768px) {
      max-width: 350px;
    }
  }
}

.rounded {
  &-large {
    border-radius: 30px;
    border-width: 2px;
  }
}


.inline-link {
  display: inline-block;
  padding-left: .25rem;
  padding-right: .25rem;
}
