<!-- Modal -->
<div class="modal fade" id="favorited" tabindex="-1" aria-labelledby="favoritedModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center text-primary border-0 fs-5">
        已加入我的收藏
      </div>
    </div>
  </div>
</div>
