<footer class="footer bg-primary">
  <div class="container">
    <div class="d-flex align-items-center">
      <section class="flex-grow-1 d-flex align-items-center justify-content-between justify-content-md-start">
        <h1 class="brand-logo brand-logo-footer mb-0 mr-md-5"><a href="./">d'Perfume</a></h1>
        <p class="text-white fs-7 mb-0">© 2020. All Rights Reserved.</p>
      </section>
      <nav class="d-none d-md-block fs-5 px-0">
        <ul class="nav align-items-center justify-content-end">
          <li class="nav-item">
            <a class="nav-link bg-primary text-white" href="#">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-primary text-white" href="#">Blog</a>
          </li>
          <li class="nav-item mr-fix-md-3">
            <a class="nav-link bg-primary text-white" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
