<!-- Modal -->
<div class="modal fade" id="intoCart" tabindex="-1" aria-labelledby="intoCartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center text-primary border-0 fs-5">
        已加入購物車
      </div>
    </div>
  </div>
</div>
