body {
  font-family: $font-family-base;
}

.brand {
  &-logo {
    a {
      display: block;
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d’Perfume.png?raw=true");
      background-position: center center;
      background-repeat: no-repeat;
      width: 128px;
      height: 38px;
      text-indent: 101%;
      overflow: hidden;
    }
  }
  &-logo-footer {
    a {
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d’Perfumewhite.png?raw=true");
    }
  }
}

.nav-link {
  &.active {
    color: $primary;
  }
}

.mr-fix-2 {
  margin-right: -0.5rem;
}

@include media-breakpoint-up(md) {
  .mr-fix-md-2 {
    margin-right: -0.5rem;
  }
}