
.bg {
  &-base {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-left {
    background-position-x: left;
  }
  &-left-plus {
    background-position-x: 15%;
  }
  &-index-banner {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true");
  }
  &-subscribe {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true");
    &-height {
      height: 600px;
    }
  }
  &-logo {
    a {
      display: block;
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d’Perfume.png?raw=true");
      background-position: center center;
      background-repeat: no-repeat;
      width: 128px;
      height: 38px;
      text-indent: 101%;
      overflow: hidden;
    }
  }
  &-logo-footer {
    a {
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d’Perfumewhite.png?raw=true");
    }
  }
}
